:root {
  --primary-text-color: #212121;
  --grey-text-color: #757575;
  --accent-color: #2196f3;
  --main-text-color: #ffffff;
}

body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container-main {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 94px 215px 94px 215px;
}

.web-blue {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  cursor: pointer;
  margin-right: 93px;
}

.page-logo {
  display: flex;
  align-items: center;
}

.nav-address {
  display: flex;
}

.aunt-address {
  margin-left: 50px;
}

/* page header */

.page-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 215px;
  padding-bottom: 25px;
  padding-left: 215px;
}

.header-2 {
  border-bottom: 2px solid;
  border-color: #ececec;
}

/* nav */
.site-nav {
  display: flex;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--accent-color);
  cursor: pointer;
}

.site-type {
  margin: 0px 50px 0px 50px;
}

/* address */
.auth-nav {
  color: var(--grey-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
}

.hero-main {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background: #2f303a;
  padding: 200px 0px 200px 0px;
  text-align: center;
}

.services {
  padding: 94px 215px 0px 215px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 270px;
}

/* text main */
.bold {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text-color);
}
.flexbox {
  display: flex;
  justify-content: space-between;
}
/* section */
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

/* workers */
.b-color {
  background: #f5f4fa;
}

.team-card {
  background-color: #fefefe;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.specialty {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-text-color);
}

.headlines {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-text-color);
}
.touch {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.touch1 {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  margin: 0px 4px 0px 4px;
  cursor: pointer;
  border-radius: 4px;
}

.touch1 {
  border-color: #f5f4fa;
  color: var(--primary-text-color);
  border: var(--accent-color);
}

.touch1:hover,
.touch1:focus {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-cards {
  margin-bottom: 30px;
}

.cards-text {
  padding: 20px 24px 20px 24px;
  border: solid #eeeeee;
  border-top: none;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  margin: 30px;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  margin: 30px 0px 0px;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

/* footer */
.down {
  background: #2f303a;
  padding: 60px 215px 51px 215px;
}

.hidden {
  display: none;
}

.down-logo {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  cursor: none;
}

.footer-links {
  margin-top: 20px;
}

.footer-link {
  margin-bottom: 9px;
}

.d-auth:hover,
.d-auth:focus {
  color: var(--accent-color);
}

.d-auth {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  opacity: 0.6;
  cursor: none;
  letter-spacing: 0.03em;
}

.address-d {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.7;
  cursor: none;
  letter-spacing: 0.03em;
}

.address-d:hover,
.address-d:focus {
  color: var(--accent-color);
}
